* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f5;
  color: #222;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(90deg, #111, #0076ff);
  color: #fff;
}

header h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

header h3 {
  font-weight: 300;
  margin-bottom: 20px;
}

header button {
  padding: 10px 20px;
  background: #0076ff;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

header button:hover {
  background: #005ecc;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.2s;
}

nav a:hover {
  color: #0076ff;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 50px;
}

section h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #0076ff;
}

ul li {
  margin-bottom: 6px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #5f5f5f;
}

textarea {
  min-height: 100px;
}

form button {
  padding: 10px;
  background: #0076ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

form button:hover {
  background: #005ecc;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

footer a {
  color: #0076ff;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}
